<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.with.apply.dao.ApplyDAO">
<select id="myApplyList" resultType="board" parameterType="hashmap">
	SELECT 
         b.board_idx,
         b.category_id,
         b.subject,
         a.investment,
         DATE_FORMAT(a.apply_date,'%Y-%m-%d %H:%i') as apply_date, 
         a.status,
         b.recruit_end,
         a.member_id,
         a.apply_idx
      FROM board_common_column b, apply a
      WHERE a.member_id = #{loginId} and a.member_id != b.member_id and a.board_idx = b.board_idx AND a.hide = 0
		<if test="word != null and word != ''">
					<choose>
						<when test="option.equals('제목')">
							AND subject LIKE CONCAT('%',#{word},'%')
						</when>
						<when test="option.equals('이용 서비스')">
							AND category_id LIKE CONCAT('%',#{word},'%')
						</when>
						<when test="option.equals('신청상태')">
							AND status LIKE CONCAT('%',#{word},'%')
						</when>
						<when test="option.equals('마감상태')">
							AND recruit_end LIKE CONCAT('%',#{word},'%')
						</when>
						<otherwise>
						</otherwise>
					</choose>
				</if>
			ORDER BY a.apply_date DESC LIMIT #{cnt} OFFSET #{offset}
	</select> 
	
	
	<select id="allCount" resultType="board" parameterType="hashmap">
		SELECT a.board_idx FROM board_common_column b, apply a  where a.member_id = #{loginId} and a.member_id != b.member_id and a.board_idx = b.board_idx AND a.hide = 0
			<if test="word != null and word != ''">
					<choose>
						<when test="option.equals('제목')">
							AND subject LIKE CONCAT('%',#{word},'%')
						</when>
						<when test="option.equals('이용 서비스')">
							AND category_id LIKE CONCAT('%',#{word},'%')
						</when>
						<when test="option.equals('신청상태')">
							AND status LIKE CONCAT('%',#{word},'%')
						</when>
						<when test="option.equals('마감상태')">
							AND recruit_end LIKE CONCAT('%',#{word},'%')
						</when>
						<otherwise>
						</otherwise>
					</choose>
				</if>
	</select>
	
	<select id="deliApplyList" resultType="board" parameterType="hashmap">
	<![CDATA[
	SELECT 
		a.member_id,
		a.investment,
		(select count(penalty_idx) from penalty p where penalty_date < now() AND penalty_date > date_add(now(), interval -14 day) and p.member_id = a.member_id),
		DATE_FORMAT(a.apply_date,'%Y-%m-%d %H:%i') as apply_date,
		(SELECT AVG(avg_score) as avg_allAvg FROM manner_score m WHERE a.member_id = m.member_id) as avg_allAvg,
		a.apply_idx,
		b.board_idx	
	FROM apply a, board_common_column b
	WHERE b.board_idx = a.board_idx AND a.member_id != b.member_id AND a.status = '대기중' AND b.board_idx = #{board_idx} AND a.hide = 0]]>
		<if test="word != null and word != ''">
					<choose>
						<when test="option.equals('제목')">
							AND subject LIKE CONCAT('%',#{word},'%')
						</when>
						<when test="option.equals('아이디')">
							AND a.member_id LIKE CONCAT('%',#{word},'%')
						</when>
						<otherwise>
						</otherwise>
					</choose>
				</if>
			ORDER BY a.board_idx DESC LIMIT #{cnt} OFFSET #{offset}
			
	</select> 
	
	<select id="deliallCount" resultType="board" parameterType="hashmap">
		SELECT a.member_id
		FROM apply a, board_common_column b
		WHERE a.member_id != b.member_id AND b.board_idx = a.board_idx AND b.board_idx = #{board_idx} AND a.status = '대기중' AND a.hide = 0

			<if test="word != null and word != ''">
					<choose>
						<when test="option.equals('제목')">
							AND subject LIKE CONCAT('%',#{word},'%')
						</when>
						<when test="option.equals('아이디')">
							AND a.member_id LIKE CONCAT('%',#{word},'%')
						</when>
						<otherwise>
						</otherwise>
					</choose>
				</if>
	</select>
	
	<update id="applyUpdate" parameterType="hashmap">
		UPDATE apply SET status = #{realstatus} WHERE apply_idx = #{apply_idx} 
	</update>
	
	<update id="applyCancle">
		UPDATE apply SET status = '취소' WHERE apply_idx = #{apply_idx}
	</update>
	
	<update id="applyDelete">
		UPDATE apply SET hide = 1 WHERE apply_idx = #{apply_idx}
	</update>
	
	<select id="taxiApplyList" resultType="board" parameterType="hashmap">
	<![CDATA[
	SELECT 
		a.member_id,
		(select count(penalty_idx) from penalty p where penalty_date < now() AND penalty_date > date_add(now(), interval -14 day) and p.member_id = a.member_id),
		DATE_FORMAT(a.apply_date,'%Y-%m-%d %H:%i') as apply_date,
		(SELECT AVG(avg_score) as avg_allAvg FROM manner_score m WHERE a.member_id = m.member_id) as avg_allAvg,
		a.apply_idx,
		b.board_idx	
	FROM apply a, board_common_column b
	WHERE a.member_id != b.member_id AND b.board_idx = a.board_idx  AND a.status = '대기중' AND b.board_idx = #{board_idx} AND a.hide = 0]]>
		<if test="word != null and word != ''">
					<choose>
						<when test="option.equals('제목')">
							AND subject LIKE CONCAT('%',#{word},'%')
						</when>
						<when test="option.equals('아이디')">
							AND a.member_id LIKE CONCAT('%',#{word},'%')
						</when>
						<otherwise>
						</otherwise>
					</choose>
				</if>
			ORDER BY a.board_idx DESC LIMIT #{cnt} OFFSET #{offset}
	</select> 
	
	<select id="taxiallCount" resultType="board" parameterType="hashmap">
		SELECT a.member_id
		FROM apply a, board_common_column b
		WHERE a.member_id != b.member_id AND b.board_idx = a.board_idx  AND b.board_idx = #{board_idx} AND a.status = '대기중' AND a.hide = 0

			<if test="word != null and word != ''">
					<choose>
						<when test="option.equals('제목')">
							AND subject LIKE CONCAT('%',#{word},'%')
						</when>
						<when test="option.equals('아이디')">
							AND a.member_id LIKE CONCAT('%',#{word},'%')
						</when>
						<otherwise>
						</otherwise>
					</choose>
				</if>
	</select>
	
	

	<select id="mealApplyList" resultType="board" parameterType="hashmap">
   <![CDATA[
   SELECT 
      a.member_id,
      (select count(penalty_idx) from penalty p where penalty_date < now() AND penalty_date > date_add(now(), interval -14 day) and p.member_id = a.member_id),
      DATE_FORMAT(a.apply_date,'%Y-%m-%d %H:%i') as apply_date,
      (SELECT AVG(avg_score) as avg_allAvg FROM manner_score m WHERE a.member_id = m.member_id) as avg_allAvg,
      a.apply_idx,
      b.board_idx   
   FROM apply a, board_common_column b
   WHERE a.member_id != b.member_id AND b.board_idx = a.board_idx  AND b.board_idx = #{board_idx} AND a.status = '대기중' AND b.board_idx = #{board_idx}]]>
      <if test="word != null and word != ''">
               <choose>
                  <when test="option.equals('제목')">
                     AND subject LIKE CONCAT('%',#{word},'%')
                  </when>
                  <when test="option.equals('아이디')">
                     AND a.member_id LIKE CONCAT('%',#{word},'%')
                  </when>
                  <otherwise>
                  </otherwise>
               </choose>
            </if>
         ORDER BY a.board_idx DESC LIMIT #{cnt} OFFSET #{offset}
   </select> 
	
	<select id="mealCount" resultType="board" parameterType="hashmap">
		SELECT a.member_id
		FROM apply a, board_common_column b
		WHERE a.member_id != b.member_id AND b.board_idx = a.board_idx AND a.status = '대기중'

			<if test="word != null and word != ''">
					<choose>
						<when test="option.equals('제목')">
							AND subject LIKE CONCAT('%',#{word},'%')
						</when>
						<when test="option.equals('아이디')">
							AND a.member_id LIKE CONCAT('%',#{word},'%')
						</when>
						<otherwise>
						</otherwise>
					</choose>
				</if>
	</select>
	
	<update id="taxiApplyUpdate" parameterType="hashmap">
		UPDATE apply SET status = #{realstatuss} WHERE apply_idx = #{apply_idx} 
	</update>
	
	<update id="mealApplyUpdate" parameterType="hashmap">
		UPDATE apply SET status = #{realstatuss} WHERE apply_idx = #{apply_idx} 
	</update>

	<insert id="part" parameterType="hashmap">
		INSERT INTO participant(member_id,board_idx) VALUES (#{member_id},#{board_idx})
	</insert>
	
	</mapper>