<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.with.member.dao.AdminDAO">

	<select id="userList" resultType="member" parameterType="hashmap">
		SELECT m.member_id, m.name, u.university_name, m.gender, m.certficate_chk, m.phone, m.member_class 
		FROM university u, member m 
		WHERE m.university_idx = u.university_idx AND member_class = #{member_class}
		<if test="member_class.equals('관리자') and word != null and word != ''">
			AND member_id LIKE CONCAT('%',#{word},'%')
		</if>
		<if test="member_class.equals('일반회원') and word != null and word != ''"  >
			<choose>
				<when test="option.equals('id')">
					AND m.member_id LIKE CONCAT('%',#{word},'%')
				</when>
				<when test="option.equals('name')">
					AND m.name LIKE CONCAT('%',#{word},'%')
				</when>
				<when test="option.equals('university')">
					AND u.university_name LIKE CONCAT('%',#{word},'%')
				</when>
				<when test="option.equals('certficate')">
					AND certficate_chk LIKE CONCAT('%',#{word},'%')
				</when>
				<otherwise>
				</otherwise>
			</choose>
		</if>	
			ORDER BY m.reg_date DESC LIMIT #{cnt} OFFSET #{offset}
	</select>

	<select id="userDetail" resultType="member" parameterType="String">
		SELECT m.member_id, m.name, m.gender, u.university_name, m.email, m.phone, m.reg_date, m.member_status, m.hide, m.certficate_chk
		FROM university u, MEMBER m
		WHERE member_id = #{member_id} AND m.university_idx = u.university_idx;
	</select>
	
	<update id="pass" parameterType="String">
		UPDATE member SET certficate_chk = 1 WHERE member_id = #{member_id};
	</update>
	
	<select id="allCount" resultType="member" parameterType="hashmap">
		SELECT member_id FROM member m, university u WHERE member_class = #{member_class} AND m.university_idx = u.university_idx 
		<if test="word != null and word != ''">
			<choose>
				<when test="option.equals('id')">
					AND member_id LIKE CONCAT('%',#{word},'%')
				</when>
				<when test="option.equals('name')">
					AND name LIKE CONCAT('%',#{word},'%')
				</when>
				<when test="option.equals('university')">
					AND university_name LIKE CONCAT('%',#{word},'%')
				</when>
				<when test="option.equals('certficate')">
					AND certficate_chk LIKE CONCAT('%',#{word},'%')
				</when>
				<otherwise>
				</otherwise>
			</choose>
		</if>
	</select>

	<select id="filedetail" resultType="String">
		SELECT new_fileName FROM certificate WHERE member_id = #{param1}
	</select>
	
</mapper>