<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.with.member.dao.LoginDAO">
	<select id="login" resultType="String">
 		SELECT member_pw FROM member WHERE member_id=#{param1} 
 	</select>
</mapper>