<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.with.member.dao.LoginDAO">
	<select id="login" resultType="String">
 		SELECT member_pw FROM member WHERE member_id=#{param1} 
 	</select>
 	
 	<select id="getMbClass" resultType="String">
		SELECT member_class FROM member WHERE member_id = #{param1} AND member_pw= #{param2};	
 	</select>
 	
 	<select id="kakaoNumber" parameterType="com.with.member.dto.KakaoDTO" resultType="com.with.member.dto.KakaoDTO">
		select * from kakao_table where k_name=#{k_name} and k_email=#{k_email}
	</select>
	
	<insert id="kakaoInsert" parameterType="java.util.HashMap">
		insert into kakao_table(k_name, k_email)
			values(#{nickname}, #{email})
	</insert>
	
	<select id="findKakao" parameterType="java.util.HashMap" resultType="com.with.member.dto.KakaoDTO">
		select * from kakao_table where k_name=#{nickname} and k_email=#{email}
	</select>		
 	
 	
 	
</mapper>