<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.with.board.dao.MealDAO">
	 <update id="endUpdate">
	<![CDATA[
		UPDATE board_common_column 
			SET recruit_end = 1 WHERE deadline <= now()
	]]> 
	</update> 

	<select id="mealDetail" parameterType="String" resultType="board">
		SELECT bcc.board_idx
		,subject
		,appoint_place
		,member_id
		,write_date
		,DATE_FORMAT(deadline,'%Y-%m-%d %H:%i') as deadline
		,hit
		,member_cnt
		,recruit_end
		,gender
		,content
		,appoint_coords_lat
		,appoint_coords_lng
		 FROM board_common_column bcc, meal_board mb
			WHERE bcc.board_idx = #{board_idx} AND bcc.board_idx = mb.board_idx
	</select>
	
	<update id="hit" parameterType="String">
		UPDATE board_common_column SET hit = hit +1 WHERE board_idx=#{board_idx}
	</update>
	
	
			
	<insert id="writeBcc" parameterType="board"> 
		INSERT INTO board_common_column (member_id, category_id, subject, content, deadline, appoint_place, appoint_coords_lat, appoint_coords_lng, gender, member_cnt)
			VALUES(#{member_id}, '밥게시판', #{subject}, #{content}, DATE_FORMAT(#{deadline},'%Y-%m-%d %H:%i'), #{appoint_place}, '37.45975', '126.95109', #{gender}, #{member_cnt})
	</insert>
	
	<select id="getBoardIdx" resultType="int" parameterType="board">
		SELECT board_idx FROM board_common_column
			WHERE member_id = #{member_id} AND subject = #{subject} AND content = #{content} AND appoint_place = #{appoint_place}
	</select>
	
	<insert id="writeMeal" parameterType="board">
		INSERT INTO meal_board (board_idx) VALUES (#{board_idx})
	</insert>

	<insert id="mealFileWrite" parameterType="photo"> 
		INSERT INTO photo(oriFileName, newFileName, board_idx, category_id)
		VALUES(#{param1},#{param2},#{param3},#{param4})
	</insert>
	
	<select id="mealPhotoList" resultType="photo">
		SELECT * FROM photo WHERE board_idx = #{param1} and category_id = #{param2}
	</select>
	
	<select id="allCount" resultType="board" parameterType="hashmap">
	 	SELECT board_idx FROM board_common_column
			WHERE category_id = '밥게시판'
				<if test="word != null and word != ''">
					<choose>
						<when test="option.equals('제목')">
							AND subject LIKE CONCAT('%',#{word},'%')
						</when>
						<when test="option.equals('약속장소')">
							AND appoint_place LIKE CONCAT('%',#{word},'%')
						</when>
						<when test="option.equals('작성자')">
							AND member_id LIKE CONCAT('%',#{word},'%')
						</when>
						<otherwise>
						</otherwise>
					</choose>
				</if>
	</select>
	
	<select id="mealList" resultType="board" parameterType="hashmap">
		SELECT bcc.board_idx
		,subject
		,appoint_place
		,member_id
		,write_date
		,DATE_FORMAT(deadline,'%Y-%m-%d %H:%i') as deadline
		,hit
		,member_cnt
		,recruit_end FROM board_common_column bcc, meal_board mb
			WHERE bcc.board_idx = mb.board_idx AND category_id = '밥게시판'
				<if test="word != null and word != ''">
					<choose>
						<when test="option.equals('제목')">
							AND subject LIKE CONCAT('%',#{word},'%')
						</when>
						<when test="option.equals('약속장소')">
							AND appoint_place LIKE CONCAT('%',#{word},'%')
						</when>
						<when test="option.equals('작성자')">
							AND member_id LIKE CONCAT('%',#{word},'%')
						</when>
						<otherwise>
						</otherwise>
					</choose>
				</if>
				ORDER BY bcc.board_idx DESC LIMIT #{cnt} OFFSET #{offset}
	</select>
	
	<select id="getUniversityAddr" parameterType="String" resultType="member">
		SELECT university_addr, m.university_idx FROM university u, member m
			WHERE m.university_idx = u.university_idx AND member_id = #{loginId}
	</select>
	
	
	
	<insert id="mealApply" 
		useGeneratedKeys="true"
		keyColumn="apply_idx"
		keyProperty="apply_idx"
		parameterType="hashmap">
		INSERT INTO reply(board_idx,member_id,apply_date,investment, status)
			VALUES(#{board_idx},#{member_id},now(),#{investment}#{status})
	</insert>
		
</mapper>


