<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.with.board.dao.MealDAO">

	 <select id="list" resultType="board" parameterType="String">
		SELECT *FROM board_common_column bcc
		WHERE category_id = '밥게시판' 
	</select>  
	
	

	
	<select id="searchList" resultType="board">
		SELECT bcc.board_idx
		,subject
		,appoint_place
		,member_id
		,write_date
		,deadline
		,hit
		,member_cnt
		,recruit_end FROM board_common_column bcc, meal_board mb 
		WHERE bcc.board_idx = mb.board_idx  AND category_id = '밥게시판'
		<if test="param2 != null and param2 != ''">
			<choose>
				<when test="param1.equals('제목')">
					AND subject LIKE CONCAT('%',#{param2},'%')
				</when>
				<when test="param1.equals('약속장소')">
					AND appoint_place LIKE CONCAT('%',#{param2},'%')
				</when>
				<when test="param1.equals('작성자')">
					AND member_id LIKE CONCAT('%',#{param2},'%')
				</when>
				<otherwise>
				</otherwise>
			</choose>
		</if>
		ORDER BY bcc.board_idx DESC	
	</select>
	
	
	<select id="detail" resultType="board" parameterType="String">
		SELECT * FROM board_common_column WHERE board_idx=#{board_idx}
	</select>
	
	<update id="hit" parameterType="String">
		UPDATE board_common_column SET hit = hit +1 WHERE board_idx=#{board_idx}
	</update>
	
	<insert id="MealWrite" 
		useGeneratedKeys="true"
		keyColumn="board_idx"
		keyProperty="board_idx"
		parameterType="hashmap">
		INSERT INTO board_common_column (member_id,category_id,subject, content, gender,appoint_place,appoint_coords, member_cnt, deadline)
			VALUES(#{member_id},#{subject},#{content},#{gender},#{appoint_place},#{appoint_coords},#{member_cnt},#{deadline})
	</insert>
	
	<insert id="mealFileSave"> 
		INSERT INTO photo(oriFileName, newFileName, board_idx, category_id)
		VALUES(#{param1},#{param2},#{param3},#{param4})
	</insert>
</mapper>


