<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.with.board.dao.MealDAO">
	<select id="list" resultType="board" parameterType="String">
		SELECT *FROM board_common_column bcc
		WHERE category_id = '밥게시판' 
	</select>
	
	
	
	
	<select id="detail" resultType="board" parameterType="String">
		SELECT * FROM board_common_column WHERE board_idx=#{board_idx}
	</select>
	
	<update id="hit" parameterType="String">
		UPDATE board_common_column SET hit = hit +1 WHERE board_idx=#{board_idx}
	</update>
	
	<insert id="MealWrite" 
		useGeneratedKeys="true"
		keyColumn="board_idx"
		keyProperty="board_idx"
		parameterType="hashmap">
		INSERT INTO board_common_column (member_id,category_id,subject, content, gender,appoint_place,appoint_coords, member_cnt, deadline)
			VALUES(#{member_id},#{subject},#{content},#{gender},#{appoint_place},#{appoint_coords},#{member_cnt},#{deadline})
	</insert>
	
	<insert id="mealFileSave"> 
		INSERT INTO photo(oriFileName, newFileName, board_idx, category_id)
		VALUES(#{param1},#{param2},#{param3},#{param4})
	</insert>
</mapper>


