<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace="com.with.board.dao.TaxiDAO">

<!-- <select id="allCount" resultType="integer">
	SELECT 
	COUNT(bcc.board_idx) 
	FROM 
	board_common_column bcc,
	taxi_board t,
	member m
	WHERE
	bcc.board_idx = t.board_idx AND
	bcc.hide = 0 AND
	category_id = '택시게시판' AND
	m.member_id = bcc.member_id AND
	m.university_idx = (SELECT university_idx FROM member WHERE member_id  = #{param1})
</select> -->

<select id="allCount" resultType="integer" parameterType="hashmap">
	SELECT 
	COUNT(bcc.board_idx) 
	FROM 
	board_common_column bcc,
	taxi_board t,
	member m
	WHERE
	bcc.board_idx = t.board_idx AND
	bcc.hide = 0 AND
	category_id = '택시게시판' AND
	m.member_id = bcc.member_id AND
	m.university_idx = (SELECT university_idx FROM member WHERE member_id  = #{loginId})
		<if test="word != null and word != ''">
			<choose>
				<when test="option.equals('제목')">
					AND subject LIKE CONCAT('%',#{word},'%')
				</when>
				<when test="option.equals('출발지')">
					AND appoint_place LIKE CONCAT('%',#{word},'%')
				</when>
				<when test="option.equals('도착지')">
					AND destination LIKE CONCAT('%',#{word},'%')
				</when>
				<when test="option.equals('작성자')">
					AND bcc.member_id LIKE CONCAT('%',#{word},'%')
				</when>
				<otherwise>
				</otherwise>
			</choose>
		</if>
</select>

<!-- <select id="taxiList" resultType="board">
	SELECT 
	bcc.board_idx,
	bcc.member_id,
	hit,
	write_date,
	subject,
	DATE_FORMAT(bcc.deadline,'%Y-%m-%d %H:%i') as deadline,
	appoint_place,
	(member_cnt + 1) as member_cnt,
	recruit_end,
	bcc.hide,
	destination
	FROM
	board_common_column bcc,
	taxi_board t,
	member m
	WHERE
	bcc.board_idx = t.board_idx AND
	bcc.hide = 0 AND
	category_id = '택시게시판' AND
	m.member_id = bcc.member_id AND
	m.university_idx = (SELECT university_idx FROM member WHERE member_id  = #{param1})
	ORDER BY bcc.board_idx DESC
</select> -->

<select id="taxiList" resultType="board" parameterType="hashmap">
	SELECT 
	bcc.board_idx,
	bcc.member_id,
	hit,
	write_date,
	subject,
	DATE_FORMAT(bcc.deadline,'%Y-%m-%d %H:%i') as deadline,
	appoint_place,
	(member_cnt + 1) as member_cnt,
	recruit_end,
	bcc.hide,
	destination,
	(SELECT COUNT(pt_idx) FROM participant p WHERE bcc.board_idx = p.board_idx AND p.hide = 0) as partNo
	FROM
	board_common_column bcc,
	taxi_board t,
	member m
	WHERE
	bcc.board_idx = t.board_idx AND
	bcc.hide = 0 AND
	category_id = '택시게시판' AND
	m.member_id = bcc.member_id AND
	m.university_idx = (SELECT university_idx FROM member WHERE member_id  = #{loginId})
		<if test="word != null and word != ''">
			<choose>
				<when test="option.equals('제목')">
					AND subject LIKE CONCAT('%',#{word},'%')
				</when>
				<when test="option.equals('출발지')">
					AND appoint_place LIKE CONCAT('%',#{word},'%')
				</when>
				<when test="option.equals('도착지')">
					AND destination LIKE CONCAT('%',#{word},'%')
				</when>
				<when test="option.equals('작성자')">
					AND bcc.member_id LIKE CONCAT('%',#{word},'%')
				</when>
				<otherwise>
				</otherwise>
			</choose>
		</if>
	ORDER BY bcc.board_idx DESC LIMIT #{cnt} OFFSET #{offset}
</select>

 <update id="updateEnd">
	UPDATE board_common_column SET recruit_end = if(deadline &gt; now(), '0', '1')
 </update>
 
<!--  <select id="taxiSearchList" resultType="board">
	SELECT 
	bcc.board_idx,
	bcc.member_id,
	hit,
	write_date,
	subject,
	DATE_FORMAT(bcc.deadline,'%Y-%m-%d %H:%i') as deadline,
	appoint_place,
	(member_cnt + 1) as member_cnt,
	recruit_end,
	bcc.hide,
	destination
	FROM 
	board_common_column bcc,
	taxi_board t,
	member m
	WHERE
	bcc.board_idx = t.board_idx AND
	bcc.hide = 0 AND
	category_id = '택시게시판' AND
	m.member_id = bcc.member_id AND
	m.university_idx = (SELECT university_idx FROM member WHERE member_id  = #{param1})
	<if test="param2 != null and param2 != ''">
		<choose>
			<when test="param2.equals('제목')">
				AND subject LIKE CONCAT('%',#{param3},'%')
			</when>
			<when test="param2.equals('출발지')">
				AND appoint_place LIKE CONCAT('%',#{param3},'%')
			</when>
			<when test="param2.equals('도착지')">
				AND destination LIKE CONCAT('%',#{param3},'%')
			</when>
			<when test="param2.equals('작성자')">
				AND bcc.member_id LIKE CONCAT('%',#{param3},'%')
			</when>
			<otherwise>
			</otherwise>
		</choose>
	</if>
	ORDER BY bcc.board_idx DESC
</select> -->

<update id="taxiUpHit">
	UPDATE board_common_column SET hit = hit + 1 WHERE board_idx = #{param1}
</update>

<select id="taxiDetail" resultType="board">
	SELECT 
	bcc.board_idx,
	member_id,
	hit,
	write_date,
	subject,
	DATE_FORMAT(bcc.deadline,'%Y-%m-%d %H:%i') as deadline,
	appoint_place,
	(member_cnt + 1) as member_cnt,
	content,
	recruit_end,
	bcc.hide,
	destination,
	gender,
	appoint_coords_lat,
	appoint_coords_lng
	FROM 
	board_common_column bcc,
	taxi_board t
	WHERE
	bcc.board_idx = #{param1} AND t.board_idx = #{param1}
</select>

<insert id="writeBcc" parameterType="board">
	INSERT INTO board_common_column 
	(member_id, category_id, subject, content, deadline, appoint_place, appoint_coords_lat, appoint_coords_lng, gender, member_cnt)
		VALUES(#{member_id}, '택시게시판', #{subject}, #{content}, DATE_FORMAT(#{deadline},'%Y-%m-%d %H:%i'), #{appoint_place}, #{appoint_coords_lat}, #{appoint_coords_lng}, #{gender}, #{member_cnt})
</insert>

<select id="getBoardIdx" resultType="int" parameterType="board">
	SELECT board_idx 
	FROM board_common_column
	WHERE member_id = #{member_id} AND
	subject = #{subject} AND
	content = #{content} AND
	appoint_place = #{appoint_place}
</select>

<insert id="writeTaxi" parameterType="board">
	INSERT INTO taxi_board (board_idx, destination)
	VALUES(#{board_idx}, #{destination})
</insert>

<insert id="taxiFileWrite" parameterType="photo">
	INSERT INTO photo(oriFileName, newFileName, board_idx, category_id)
		VALUES(#{param1},#{param2},#{param3},#{param4})
</insert>

<select id="taxiPhotoList" resultType="photo">
	SELECT * FROM photo WHERE board_idx = #{param1} and category_id = #{param2}
</select>

<select id="taxiCount" resultType="integer">
	SELECT count(*) FROM participant WHERE board_idx = #{param1} and hide = 0
</select>

<select id="taxiParticipant" resultType="member">
	SELECT 
	p.member_id,
	gender,
	phone,
	(SELECT COUNT(*) FROM manner_assess m WHERE m.board_idx = #{param1} AND assessor = #{param2} and p.member_id = m.member_id) as chkManner 
	FROM 
	participant p, 
	member m
	WHERE board_idx = #{param1} AND m.member_id = p.member_id AND p.hide = 0
	ORDER BY pt_idx
</select>

<select id="univFind" resultType="string">
	SELECT university_addr FROM university u, member m WHERE m.member_id = #{param1} AND m.university_idx = u.university_idx
</select>

<select id="findPhone" resultType="string">
	SELECT phone FROM member WHERE member_id = #{param1}
</select>

<select id="recruitEnd" resultType="int">
	SELECT recruit_end FROM board_common_column WHERE board_idx = #{param1}
</select>

<insert id="taxiApply" parameterType="hashmap">
	INSERT INTO apply(board_idx, member_id) VALUES(#{board_idx}, #{loginId})
</insert>

<select id="chkStatus" resultType="int" parameterType="hashmap">
	SELECT COUNT(*) FROM apply WHERE board_idx = #{board_idx} AND member_id = #{loginId} AND status IN('대기중', '수락') 
</select>

<select id="chkReject" resultType="int" parameterType="hashmap">
	SELECT COUNT(*) FROM apply WHERE board_idx = #{board_idx} AND member_id = #{loginId} AND status = '거절'
</select>

<select id="chkElim" resultType="int" parameterType="hashmap">
	SELECT COUNT(*) FROM participant WHERE board_idx = #{board_idx} AND member_id = #{loginId} AND hide = 1
</select>

<select id="chkGender" resultType="String" parameterType="hashmap">
	SELECT gender FROM member WHERE member_id = #{loginId}
</select>

<insert id="ptTaxi" parameterType="hashmap">
	INSERT INTO participant(member_id, board_idx) VALUES(#{member_id}, #{board_idx})
</insert>

<select id="chkPt" resultType="int">
	SELECT COUNT(*) FROM participant WHERE board_idx = #{param1} AND member_id = #{param2} AND hide = 0
</select>

<select id="chkSuper" resultType="int">
	SELECT COUNT(*) 
	FROM 
	participant p, 
	board_common_column bcc 
	WHERE 
	board_idx = #{param1} AND
	member_id = #{param2} AND hide = 0
</select>

<select id="chkCate" resultType="String">
	SELECT category_id FROM board_common_column WHERE board_idx = #{param1}
</select>

<insert id="putKind" parameterType="hashmap">
	INSERT INTO manner_assess(member_id, category_id, board_idx, assessor, manner_score) 
	VALUES(#{member_id}, '친절함', #{board_idx}, #{loginId}, #{kind})
</insert>

<insert id="putResponse" parameterType="hashmap">
	INSERT INTO manner_assess(member_id, category_id, board_idx, assessor, manner_score) 
	VALUES(#{member_id}, '응답속도', #{board_idx}, #{loginId}, #{response})
</insert>

<insert id="putTime" parameterType="hashmap">
	INSERT INTO manner_assess(member_id, category_id, board_idx, assessor, manner_score) 
	VALUES(#{member_id}, '시간약속', #{board_idx}, #{loginId}, #{time})
</insert>

<update id="elimDo">
	UPDATE participant SET hide = 1 WHERE board_idx = #{param1} AND member_id = #{param2}
</update>

</mapper>