<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.with.report.dao.BlindDAO">
	
	<select id="blindList" resultType="blind" parameterType="hashmap">
		SELECT * FROM blind_board
			<where>
				<if test="word != null and word != ''">
					<choose>
						<when test="option.equals('아이디')">
							member_id LIKE CONCAT('%',#{word},'%')
						</when>
						<when test="option.equals('이용서비스')">
							category_id LIKE CONCAT('%',#{word},'%')
						</when>
						<otherwise>
						</otherwise>
					</choose>
				</if>
			</where>
				<!-- 정렬조건 여기에 -->
				ORDER BY blind_idx DESC
				LIMIT #{cnt} OFFSET #{offset}
	</select>
	
	<select id="allCount" resultType="blind" parameterType="hashmap">
	 	SELECT * FROM blind_board
			<where>
				<if test="word != null and word != ''">
					<choose>
						<when test="option.equals('아이디')">
							AND member_id LIKE CONCAT('%',#{word},'%')
						</when>
						<when test="option.equals('이용서비스')">
							AND category_id LIKE CONCAT('%',#{word},'%')
						</when>
						<otherwise>
						</otherwise>
					</choose>
				</if>
			</where>
	</select>
	
	<select id="blindDetail" resultType="blind" parameterType="String">
		SELECT * FROM blind_board
			WHERE board_idx = #{param1}
	</select>
	
	<update id="superBlind">
		UPDATE board_common_column SET hide = 1
			WHERE board_idx = #{param1}
	</update>
	
	<update id="updateComm" parameterType="blind">
		UPDATE board_common_column SET hide = #{cancel}
			WHERE board_idx = #{board_idx}
	</update>
	
	<update id="updateBlind" parameterType="blind">
		UPDATE blind_board SET cancel = #{cancel}, blindCancel_id = #{blindCancel_id},blindCancel_reason =#{blindCancel_reason}
			WHERE board_idx = #{board_idx}
	</update>
	
	<update id="blindBoardUpdate" parameterType="String">
		UPDATE board_common_column bcc, apply a SET recruit_end = 1, status = '취소'
			WHERE bcc.board_idx = #{board_idx} AND a.board_idx = #{board_idx} AND status = '대기중'
	</update>
	
	<insert id="blindBoardReport">
		INSERT INTO blind_board(category_id,board_idx,member_id,subject,blind_reason)
			VALUES(#{param1},#{param2},#{param3},#{param4},'신고처리')
	</insert>
	
	
</mapper>