<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.with.report.dao.ReportDAO">

	<select id="reportlist" resultType="report">
	SELECT r.report_idx, b.board_idx, b.category_id, b.subject, r.reporter_id, r.report_date, r.report_content, r.report_admin, r.status
	FROM report r, board_common_column b
	WHERE r.board_idx = b.board_idx
	</select>

	<insert id="reportsend" parameterType="hashmap">
		INSERT INTO report (board_idx, reporter_id, report_content)
		VALUE (#{board_idx}, 'test2', #{report_content})
	</insert>
	
	<select id="reportchk" parameterType="hashmap" resultType="int">
		SELECT count(report_idx) FROM report WHERE board_idx = #{board_idx} AND reporter_id = 'test2'
	</select>
	
	<select id="reportdetail" resultType="report">
		SELECT b.member_id, b.category_id, b.board_idx, b.subject, r.report_content, r.report_admin, r.report_reason, r.status, r.report_idx
		FROM report r, board_common_column b
		WHERE r.board_idx = b.board_idx AND report_idx = #{param1}
	</select>
	
	<insert id="reportcom" parameterType="hashmap">
		INSERT INTO penalty (penalty_end, member_id, penalty_admin)
		VALUES (#{penalty_end}, #{member_id}, 'admin1')
	</insert>

	<update id="penaltycom" parameterType="hashmap">
		UPDATE report SET report_admin = 'admin', report_reason = #{report_reason}, status = #{status}
		WHERE report_idx = #{report_idx}
	</update>

</mapper>

<!-- , penalty p , p.penalty_date, p.penalty_end -->