<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.with.inquery.dao.InqueryDAO">	
	
	<select id="allCount" resultType="int">
	 	SELECT count(member_id) FROM inquery WHERE member_id = #{param1}
	</select>
	
	<select id="inqueryList" resultType="inquery" parameterType="hashmap">
    	select * from inquery where member_id=#{idx}
    	<if test="word != null and word != ''">
    		AND subject LIKE CONCAT('%',#{word},'%')
    	</if>LIMIT #{cnt} OFFSET #{offset}
    </select>
	
	<insert id="inqueryWrite" parameterType="hashmap">
		INSERT INTO inquery (member_id, subject, inquery_content, status, inquery_admin, hide) VALUE(#{member_id}, #{subject}, #{inquery_content}, '미처리', '배정중' ,0)
	</insert>
	
	<select id="inqueryDetail" resultType="hashmap">
    	select member_id, subject, DATE_FORMAT(inquery_date,'%Y-%m-%d %H:%i') as inquery_date, inquery_content ,status, inquery_admin, hide from inquery where inquery_idx=#{param1}
    </select>
    
    <update id="inqueryDelete">
    	UPDATE inquery SET hide = 1 WHERE inquery_idx = #{param1} AND status='미처리'
    </update>    
</mapper>